<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Modules" value=""/>
    <add key="NewVersionServer" value=""/>
    <add key="EnableDiagnosticActions" value="False"/>
    <!--
    Use the one of predefined values: None, ApplicationFolder, CurrentUserApplicationDataFolder. The default value is ApplicationFolder.
    <add key="TraceLogLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
    <add key="Languages" value="de;es;ja;ru"/>
    -->
  </appSettings>
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="XpoProvider=MySql;server=localhost;user id=bloguser; password=ThisIsMyBlog; database=XpandBlog_EasyTest;persist security info=true;CharSet=utf8;"/>
    <add name="ConnectionString" connectionString="XpoProvider=MySql;server=localhost;user id=bloguser; password=ThisIsMyBlog; database=XpandBlog;persist security info=true;CharSet=utf8;"/>
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="eXpressAppFramework" value="4"/>
      <add name="XPO" value="4"/>
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
